<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<body>
	<div class="top">
		<div class="line_config">
			<table>
				<tr>
					<td>
						<button id="minus">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</td>

					<td>
						<button id="plus">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>

					<td><span id="test"></span></td>

				</tr>
			</table>
		</div>
	</div>



	<div class="middle">
		<div class="line_description">
			<div class="line-desc-bunch" step="1" key="0">
				<div class="panel panel-default">
					<table class="table table-striped">
						<tr>
							<td>INPUT</td>
							<td><textarea class="form-control taIp"></textarea></td>
						</tr>
						<tr>
							<td>OUTPUT</td>
							<td><textarea class="form-control taOp"></textarea></td>
						</tr>
					</table>
					<div class="delAddBtn">
						<button class="add_line">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="canvas_outer">
			<svg class="canvas_inner" height="100%" width="100%">
				<g class="line-in-canvas" step="1" key="0">
					<line class="line" id="initial-line" line-len=""/>
					<!--  start point   -->
					<circle class="start_circle" id="initial-start-circle" stroke="black" stroke-width="2" fill="black" />
					<text class="start_text" id="initial-start-text" alignment-baseline="middle" text-anchor="middle" fill="white">IP</text>
					<!--  end point    -->
					<circle class="end_circle" id="initial-end-circle" stroke="black" stroke-width="2" fill="black"/>
					<text class="end_text" id="initial-end-text" alignment-baseline="middle" text-anchor="middle" fill="white">OP</text>
				</g>
			</svg>
		</div>
	</div>

	<script src="/js/common.js"></script>



</body>
</html>