html
,body{
	height:100%;

}

div.top{
	height:10%;
}

div.middle{
	height:100%;
}

.line_config{


}

.line_description{
	height:100%;
	float:left;
}

.canvas_outer{
	height:100%;
	float:right;
	border-style: groove;
}

line{
	stroke:rgb(0,0,0);
	stroke-width:2;
}